<p>guild-detail works!</p>


<div>
  <h1>{{ guildDetailInfo().name }}</h1>
  <p>{{ guildDetailInfo().description }}</p>
  <p>Members: {{ guildDetailInfo().membersCount }} / {{ guildDetailInfo().maxMembers }}</p>
  <table id="customers">
    <tr>
      <th>Name</th>
      <th>E-mail</th>
      <th>XP</th>
    </tr>
    <tr *ngFor="let user of guildDetailInfo().users">
      <td>{{user.userName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.xp}}</td>
    </tr>
  </table>
  <div class="example-button-row">
    <button mat-button color="primary" (click)="OnJoin()">join</button>
    <button mat-button color="Warn" (click)="OnLeave()">leave</button>
    <button mat-button color="Warn" (click)="OnDelete()">delete</button>
  </div>
  <a class="btn btn-primary" [routerLink]="['/guild']">Back to Guild List</a>
</div>
